* {
    font-family: serif;
}

label, input {
    padding: 5px;
}

input:focus {
    outline: 1px none transparent;
}

::placeholder {
  opacity: 0.33;
  font-style:italic;
}

label {
    background: blue;
}